body {
    padding: 0px;
    margin: 0px;
    text-align: left; 
    text-shadow: 0 0 0 #000;
    
    background-color: black;
    color: white;
    
    padding: 0px;
    margin: 0px;
}

table thead tr th, table thead tr td {
    border: 1px solid #444;
}

table tbody tr td {
    padding-left: 2px;
    padding-top: 1px;
    border: 1px solid #444;
}